<section class="bg-dark" style="padding: 50px">
			<div class="container">
				<div class="row bg-dark">
					<div class="col-md-4">
						<!-- Main -->
						<ul class="nav-footer">
							<li>
								<a class="page-scroll" href="index.html#page-top">Home</a>
							</li>
							<li>
								<a class="page-scroll" href="index.html#about">About</a>
							</li>
							<li>
								<a class="page-scroll" href="#contact">Contact</a>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="nav-footer">
							<li>
								<a class="page-scroll" href="index.html#team">Team</a>
							</li>
							<li>
								<a class="page-scroll" href="index.html#toc">Theory Of Change</a>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="nav-footer">
							<li>
								<a href="donate.html">Donate Now</a>
							</li>
							<li>
								<a class="page-scroll" href="naviites.html">Meet Our Students</a>
							</li>
						</ul>
					</div>
					<div class="col-md-12 text-center" style="margin-top:20px;">
						<!-- <h1 class="bottombrand wow flipInX">NavGurukul</h1> -->
						<p class="bottombrand wow flipInX">&copy; 2016 NavGurukul.org</p>
					</div>
				</div>
			</div>
		</section>